@font-face
{
    font-family: CIV6; /* Гарнитура шрифта */
    src: url(MinionPro-SemiboldIt.otf); /* Путь к файлу со шрифтом */
}   
   
*
{
	margin: 0px;
	padding: 0px;
}



/*ссылки*/
a
{
	color: #ffffc8;
	text-decoration: underline;
}

/*картинки*/
img
{
	border: none;	
	border: 4px double blue;
	

}

h2
{
	border: 4px double red;
	font-size: 16px;
	vertical-align: middle;
	font-weight: normal;
}




/* Styles to replace special tags in XML */
.color_positive_text
{
	color: #7FFF19;
}
.color_warning_text
{
	color: #FF4C4C;
}
.color_cyan_text
{
	color: #00FFFF;
}




.tab
{
	float: left;
	width: 42px;
	height: 49px;
	margin-left: 5px;
	margin-right: 5px;
}

.bordertop
{
	font-size: 16px;
	text-align: center;
	width: 100%;
	float: left;
	line-height: 38px;
	height: 38px;
	text-align: center;
	background-image: url('/civilopedia/images/border_top.png');
	background-repeat: no-repeat;
	vertical-align: bottom;
}
.borderbottom
{
	font-size: 17px;
	width: 100%;
	float: left;
	height: 54px;
	text-align: center;	
	background-repeat: no-repeat;
}





.footer
{
	float: left;
	width: 1024px;
	text-align: center;
	font-size: 10px;
}






/* Large block of content */
.contentwide
{
	float: right;
	width: 677px;
	margin-right: 42px;
}



/* Right side of content */


.title
{
	margin-left: -20px;
	width: 464px;
	height: 36px;
	font-size: 17px;
	text-align: center;
	background-image: url('/civilopedia/images/title.png');
	background-repeat: no-repeat;
	padding-top: 7px;
	text-shadow: #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em;
}
.titlelink
{
    text-decoration: none;
}
