@font-face
{
    font-family: CIV6; /* Гарнитура шрифта */
    src: url(MinionPro-SemiboldIt.otf); /* Путь к файлу со шрифтом */
}

*
{
	margin: 0px;
	padding: 0px;
}



/*ссылки*/
a
{
	color: #ffffc8;
	text-decoration: underline;
}

/*картинки*/
img
{

}

h2
{
	border: 4px double red;
	font-size: 16px;
	vertical-align: middle;
	font-weight: normal;
}




body
{
	background-color: #000000;
	/*color: #ffffc8;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
  color: #ffffc8;
}

/* Контейнер сверху*/
.container
{	/*border: 4px double white;*/
	float: left;
	width: 1024px;
  margin-left: 5px;

}

/* Заголовок*/
.header
{
	float: left;
	width: 1024px;
	height: 37px;
	background-color: #381014;
	text-align: center;
  margin-top: 10px;
	font-size: 24px;
  background: url(Controls_SubHeader2.png);
}

.titlelink
{
    text-decoration: none;
    color: #F3F7F3;
    text-shadow: #EEEE00 0 0 10px; /* свечение текста */
}

/* Значки меню сверху */
.tabrow
{
	float: left;
	width: 1024px;
	margin-left: 0px;
	height: 48px;
  background: url(topMenu.png) center no-repeat;

  /*flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tab
{
	float: left;
	width: 42px;
	height: 49px;
	margin-left: 5px;
	margin-right: 5px;
  margin-top: 8px;
}

/* Основной контент */
.content
{

	/*border: 4px double red;*/
	margin-left: 5px;
	float: left;
	width: 1024px;
  background-image: url(Parchment_Pattern.png);

	/*background-repeat: no-repeat;
	background-image: url('container.png');*/
}


/* Меню */
.menu
{
	background-color: #381014;
	margin-left: 0px;
	float: left;
	width: 250px;
	margin-right: 18px;


	/* scroll bar */
	overflow-y: auto;
	height:650px;
  direction: rtl;

  /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap
}
.menugroupcontainer a
{
  text-decoration: none;
}
.menugroupcontainer
{
	float: left;
	width: 300px;
}
.menugroup
{
	text-indent: 10px;
	/*
	float: left;
	width: 272px;
	height: 27px;*/
	line-height: 25px;
	vertical-align: middle;
	background-image: url('/civilopedia/images/menugroup.png');
	background-repeat: no-repeat;
	text-shadow: #82A3A6 0em 0em 0.2em, #82A3A6 0em 0em 0.2em;
}

.menuitem
{
  padding-left:10px;
	margin-left: 7px;
  margin-right: 7px;
  margin-top: 3px;
  margin-bottom:3px;
	/*float: left;
	text-indent: 10px;
	width: 256px;*/
	height: 30px;
	line-height: 25px;
	vertical-align: middle;
	background-image: url('menuitem.png');
	background-repeat: no-repeat;
  background-size: 100%;
	text-decoration: none;
  text-align: left;


  color: #a69f91;
  text-shadow: #232217 0 0 10px; /* свечение текста */

}

.contentcommon
{

}
.contentimage
{
	position: absolute;
	left: 290px;
	top: 122px;
}


/* Left side of content */
.contentleft
{

	float: left;
	width: 220px;
	margin-top: 256px;
	margin-right: 18px;
}

.title
{
	margin-left: -20px;
	width: 464px;
	height: 36px;
	font-size: 17px;
	text-align: center;
	/*background-image: url('/civilopedia/images/title.png');
	background-repeat: no-repeat;*/
	padding-top: 7px;
	text-shadow: #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em, #92B3B6 0em 0em 0.2em;
}

.contentright
{

	font-family: CIV6, Verdana;
	margin-top: 15px;
	float: right;
	width: 439px;
	margin-right: 42px;
}

/* Большой блок контента */
.contentwide
{
	float: right;
	width: 677px;
	margin-right: 42px;
}



/* Коробка */
.t {
    background: url('t.png') 0 0 repeat-x #000;
    margin-bottom: 10px;
}
.b {
    background: url('b.png') 0 100% repeat-x
}

.l {
    background: url('l.png') 0 0 repeat-y
}

.r {
    background: url('r.png') 100% 0 repeat-y
}

.bl {
    background: url('bl.png') 0 100% no-repeat
}

.br {
    background: url('br.png') 100% 100% no-repeat
}

.tl {
    background: url('tl.png') 0 0 no-repeat
}
.tr {
    background: url('tr.png') 100% 0 no-repeat;
    padding: 10px;
    font-size: 14px;
    line-height: 22px
}

/* Нижний уровень */
.borderbottom
{
	font-size: 17px;
	width: 100%;
	float: left;
	height: 54px;
	text-align: center;
	background-repeat: no-repeat;
}
.footer
{
	float: left;
	width: 1024px;
	text-align: center;
	font-size: 10px;
}
